
.trilha-hero {
    padding: 100px 0;

    background:
        linear-gradient(
            rgba(8, 126, 164, 0.65),
            rgba(35, 79, 61, 0.70)
        ),
        url("../assets/images/travessia.JPG");

    background-size: cover;
    background-position: center;

    color: white;
}


.trilha-detalhes {
    padding: 30px 0;
    background-color: white;
}

.trilha-informacoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.trilha-informacoes div {
    padding: 20px;
    text-align: center;
    border: 1px solid #e8f8fb;
    border-radius: 12px;
}

.trilha-informacoes span {
    display: block;
    font-size: 28px;
    margin-bottom: 8px;
}

.trilha-informacoes strong {
    color: #263238;
    font-size: 15px;
}

.trilha-sobre {
    padding: 70px 0;
    background-color: #f1f8f3;
}

.trilha-sobre h2 {
    margin: 10px 0 20px;
    color: #087ea4;
    font-size: 32px;
}

.trilha-sobre p {
    max-width: 800px;
    margin-bottom: 15px;
    color: #546e7a;
    line-height: 1.7;
    font-size: 17px;
}

.trilha-roteiro {
    padding: 70px 0;
    background-color: #e8f8fb;
}

.trilha-roteiro h2 {
    margin: 10px 0 30px;
    color: #087ea4;
    font-size: 32px;
}

.roteiro-item {
    max-width: 800px;
    margin-bottom: 20px;
    padding: 25px;
    background-color: white;
    border-radius: 14px;
}

.roteiro-item span {
    color: #3a8f5c;
    font-size: 13px;
    font-weight: bold;
}

.roteiro-item h3 {
    margin: 8px 0;
    color: #263238;
    font-size: 21px;
}

.roteiro-item p {
    color: #546e7a;
    line-height: 1.6;
}

.trilha-alerta {
    padding: 60px 0;

    background-color: #fff8e8;
}

.trilha-alerta .container {
    padding: 30px;

    border-left: 5px solid #3a8f5c;

    background-color: #e8f8fb;

    border-radius: 12px;
}

.trilha-alerta h2 {
    margin-bottom: 15px;

    color: #234f3d;

    font-size: 28px;
}

.trilha-alerta p {
    max-width: 800px;

    color: #546e7a;

    line-height: 1.7;
}